<mat-toolbar color="primary">
  <button routerLink="/" mat-button>Wypożyczalnia Amarok</button>
  <span class="example-spacer"></span>
  <button routerLink="/car-to-rent" mat-button>Lista aut</button>
  <button routerLink="/login" *ngIf="!storageService.isLoggedIn()" mat-button>Zaloguj się</button>
  <button routerLink="/register" *ngIf="!storageService.isLoggedIn()" mat-button>Zarejestruj się</button>
  <button routerLink="/user" *ngIf="storageService.isLoggedIn()" mat-button>Moje konto</button>
  <button routerLink="/car" *ngIf="storageService.isLoggedIn() && storageService.getUser().roles.includes('ROLE_MODERATOR')" mat-button>Dodaj auto</button>
  <button routerLink="/rental" *ngIf="storageService.isLoggedIn() && storageService.getUser().roles.includes('ROLE_MODERATOR')" mat-button>Dodaj wypożyczalnię</button>
  <button href *ngIf="storageService.isLoggedIn()" (click)="logout()" mat-button>Wyloguj się</button>
</mat-toolbar>
