<div style="text-align: center;">
  <h1 *ngIf="rentalId == 0">Dodaj wypożyczalnię</h1>
  <h1 *ngIf="rentalId != 0">Modyfikuj wypożyczalnię</h1>
  <form [formGroup]="form" (ngSubmit)="saveRental()">
    <p>
      <mat-form-field>
        <mat-label>Miasto</mat-label>
        <input matInput placeholder="Wpisz miasto" formControlName="city">
        <mat-icon matSuffix>home</mat-icon>
        <mat-hint>Wpisz miasto</mat-hint>
        <mat-error>Podanie miasta jest obowiązkowe</mat-error>
        <mat-error *ngIf="form.controls['city'].errors?.['minlength']">
          Wpisz nazwe miasta
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Adres</mat-label>
        <input matInput placeholder="Wpisz adres" formControlName="address">
        <mat-icon matSuffix>home</mat-icon>
        <mat-hint>Wpisz adres biura</mat-hint>
        <mat-error>Podanie adresu jest obowiązkowe</mat-error>
        <mat-error *ngIf="form.controls['address'].errors?.['minlength']">
          Wpisz adres
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Wpisz adres email">
        <mat-icon matSuffix>mail_outline</mat-icon>
        <mat-hint>Wpisz adres email</mat-hint>
        <mat-error *ngIf="form.controls['email'].errors?.['required']">Adres email jest wymagany</mat-error>
        <mat-error *ngIf="form.controls['email'].errors?.['pattern']">Wpisz adres email</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Numer telefonu</mat-label>
        <input matInput type="phone" formControlName="phone" placeholder="Wpisz numer telefonu">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint>Wpisz numer telefonu</mat-hint>
        <mat-error>Podanie numeru telefonu jest obowiązkowe</mat-error>
        <mat-error *ngIf="form.controls['phone'].errors?.['minlength']">
          Wpisz numer telefonu
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Wybierz moderatora</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let option of moderators" [value]="option.id">{{option.firstNme}} {{option.secondName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <button type="button" mat-raised-button (click)="fileInput.click()">Wybierz zdjęcie</button>
      <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept="image/png, image/jpeg">
      <br><br>
      <span class="file-name">{{selectedFile?.name}}</span>
    </p>
    <p>
      <img *ngIf="url" [src]="url" style="width: 30vw;">
    </p>
    <button mat-raised-button type="submit">Zapisz</button>
  </form>
</div>
